/SOF2041/Buoi2_SOF2041/build/
/SOF2041/Buoi2_SOF2041/nbproject/private/
/SOF2041/Buoi2/Buoi2_SOF2041/build/
/SOF2041/Buoi2/Buoi2_SOF2041/nbproject/private/
/SOF2041/Buoi3/Buoi3/nbproject/private/
/SOF2041/Buoi3/Buoi3/build/
